/* =============================================
  modules_container
============================================= */

.container{
  width: min(100% - 4rem, 1100px);
  margin-inline: auto;
  padding: 60px 20px;
  &--no-padding{
    width: min(100%, 1100px);
    // background-color:#fcc;
    margin-inline: auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 375px) and (max-width: 769px) {
  .container{
    padding: 40px 20px;
    &--no-padding{
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}