/* =============================================
  img-size
============================================= */
.kv-size{
  width: 76%;
  min-height: 640px;
  object-fit: cover;
}

.about-size{
  min-height: 607px;
  object-fit: cover;
}
