/* =============================================
  page-about
============================================= */

.fv-about{
  min-height: 387px;
  height: 10vw;
  &::after{
    content: '';
    width: 54%;
  }
}
    