/* =============================================
  page-about
============================================= */

.fv-about{
  min-height: 464px;
  height: 10vw;
  &::after{
    content: '';
    width: 54%;
  }
}

.ceo{
  position: relative;
    max-width: 770px;
    background-color: #F0F0F0;

  &__img{
    position: absolute;
  }
  &__box{

    padding: 120px 185px 90px;

  }
}
