@use './mixin' as m;

/* =============================================
  layout_header
============================================= */

// 固定ヘッダー設定
.header {
  position: sticky;
  z-index: 500;
  inset: 0;
  margin: auto;
  background-color: azure;
  height: 20px;
}
