
html{
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
  font-family: 'Noto Serif','Noto Serif JP','Noto Sans JP', sans-serif;
}

img{
  width: 100%;
}

.d-none{
	display: none;
}

/* ボタンパーツ */
.btn{
	display: block;
	width: fit-content;
	text-align: center;
	font-size: 1.6rem;
	padding: 19px 20px;
	border-radius: 50px;
	background-color: #fff;
	min-width: 235px;
	margin: 0 auto;
	color: #000;
	text-decoration: none;
}

.btn:hover{
	opacity: 0.7;
}

.btn-yellow{
	background-color: #F7D43F;
}

/* ページコンテナ */
.container{
	width: 100%;
  max-width: 1440px;
	margin: 0 auto;
}

.second-container{
	width: 100%;
  max-width: 1200px;
	margin: 0 auto;
}

/* ヘッダー セクション*/
.header{
	margin: 0 auto;
	height: 96px;
	width: 100%;
	max-width: 1440px;
  position: fixed;
	z-index: 100;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header.active{
	background-color: #161a1ddf;
  transition: 1000ms;
}

.header-logo{
	padding: 0 20px;
	margin-left: 4vw;
}

.header-logo a{
	display: block;
	padding: 5px;
}

.header-nav{
	padding: 0 20px;
	margin-right: 4vw;
}

.header-nav-list{
	display: flex;
	list-style: none;
}

.header-nav-item{
	font-size: 16px;
}

.header-nav-link{
	display: block;
	padding: 0 15px;
	text-decoration: none;
	color: #fff;
}

.header-nav-link:hover{
	color: #F7D43F;
}

.hamburger{
	display: none;
}

/* ファーストビュー セクション*/
.first-view{
	position: relative;
	z-index: -1;
}

.first-view-text{
	position: absolute;
	z-index: 100;
	top: 70%;
	left: 5%;
	font-size: 7rem;
	color: #fff;
	text-align: center;
	line-height: 65px;
}

.first-view-text span{
	font-size: 4rem;
	color: #fff;
}

.first-view-slider{
  list-style: none;
  position: relative;
	max-width: 1440px;
	height: 100vw;
  max-height: 752px;
  overflow: hidden
}

.first-view-slider img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: 4s linear transform .4s;
  object-fit: cover;
}

.first-view-slider .zoom{
	transform: scale(1.05);
}

/* セクション背景 */
.bk-works{
	content: "";
	width: 100%;
	max-width: 1440px;
	height: 100%;
	background-image: url(./img/works-bgi@2x.jpg);
}

.bk-contact{
	content: "";
	width: 100%;
	max-width: 1440px;
	height: 100%;
	background-image: url(./img/contact-bgi@2x.jpg);
}

/* 共通セクション */
.concept,
.works,
.service,
.contact{
	margin: 0 auto;
	padding: 100px 0 70px;
}

.concept-header,
.works-header,
.service-header,
.contact-header{
	position: relative;
	font-size: 60px;
	font-style: italic;
	padding-bottom: 80px;
}

.concept-header:after,
.works-header::after,
.service-header::after,
.contact-header::after{
	position: absolute;
	content: "";
	width: 200px;
	height: 5px;
	margin-left: 30px;
	top: 29%;
}

.concept-header:after,
.service-header::after{
	background-color: #000;
}

.works-header::after,
.contact-header::after{
	background-color: #fff;
}

.service-header,
.concept-header{
	margin-left: 100px;
}

.works-header,
.contact-header{
	padding-right: 230px;
	text-align: end;
	color: #fff;
}

.concept-bottom-title,
.works-bottom-title,
.service-bottom-title,
.contact-bottom-title{
	font-size: 9rem;
	padding-top: 70px;
	color: #818181;
	opacity: 0.2;
	line-height:normal;
	font-style: italic;
}

.concept-bottom-title,
.service-bottom-title{
	text-align: end;
}

/* concept セクション */
.concept-sub-header{
	font-size: 3rem;
	font-weight: bold;
	line-height: 1.67;
	text-align: center;
	padding-bottom: 60px;
}

.concept-block{
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
}

.concept-block-text{
	width: 50%;
	font-size: 1.6rem;
	line-height: 1.875;
	text-align: justify;
}

.concept-block-image{
	width: 50%;
	padding-left: 20px;
}

/* works セクション */
.works-cords{
	display: flex;
	justify-content: center;
	padding-bottom: 80px;
}

.works-cord{
	max-width: 320px;
	width: 100%;
	height: auto;
	margin: 0 20px;
	flex-wrap: wrap;
	background-color: #fff;
}

.works-cord-link{
	text-decoration: none;
	color: #000;
}

.works-cord-image{
	vertical-align: bottom;
	height: auto;
}

.works-cord-text{
	padding: 20px 25px;
	font-size: 1.6rem;
	line-height: 1.875;
}

/* service セクション */
.service-cards{
	max-width: 1440px;
	display: flex;
	margin: 0 auto;
}

.service-card{
	width: 100%;
	max-width: 480px;
}

.service-card-link{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	aspect-ratio: 3/2;
	font-size: 4rem;
	font-style: italic;
	text-decoration: none;
	color: #fff; 
	transition: 0.6s ;
}

.service-card-link:hover{
	background-color: #282F35c9;
}

.service-card-image{
	position: absolute;
	z-index: -100;
	width: 100%;
	height: auto;
}

/* contact セクション*/
.contact-text{
	color: #fff;
	font-size: 2rem;
	text-align: center;
	padding-bottom: 40px;
}

/* footer セクション*/
.footer{
	background-color: #fff;
	text-align: center;
	padding: 30px 0;
}


/*-----------------
- contact ページ 
------------------ */

/* contact トップ*/
.contact-wrapper{
	position: relative;
	content: "";
	width: 100%;
	max-width: 1440px;
	height: 453px;
	background-image: url(./img/contact-page-bgi@2x.jpg);
}

.contact-wrapper-text{
	font-size: 6rem;
	font-style: italic;
	color: #fff;
	display: block;
}

.contact-wrapper-inner{
	height: inherit;
	display: flex;
	place-content: center;
	place-items: center;
}

.contact-wrapper-bottom{
	position: absolute;
	font-size: 90px;
	left: 48px;
	bottom: 40px;
}

/* 入力フォーム */
.form-wrapper{
  padding: 100px 0 80px;
}

.form-list{
	list-style: none;
	max-width: 700px;
	margin: 0 auto 80px;
	padding: 0 50px;
}

.form-item{
	margin-bottom: 25px;
}

.form-label{
	font-size: 1.6rem;
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.checkbox-list{
	font-size: 1.6rem;
	list-style: none;
	display: flex;
}

.checkbox-item{
	padding-right: 20px;
}

.checkbox-item label{
	cursor: pointer;
}

.checkbox{
	border: #282f35 1px solid;
	height: 10px;
	width: 10px;
	margin-right: 10px;
}

.checkbox:checked{
	background-color: #141414;
}

input,
textarea{
	resize: none;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	outline: none;
	border: 1px solid #141414;
	width: 100%;
}

.input-text{
	color: #171717;
  padding: 0px 8px;
  line-height: 30px;
  box-sizing: border-box;
}

.text-area{
	height: 171px;
  color: #171717;
  padding: 0px 8px;
  line-height: 30px;
  box-sizing: border-box;
}

@media screen and (max-width:834px) { 

	.d-sp-block{
		display: block;
	}

	/* ヘッダー セクション*/
	.header-logo{
		padding: 0;
	}

	.header-nav{
    position: fixed;
		transition: 0.2s ease-in-out;
		padding: 0;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #282F35;
	}
	.header-nav.active{
		transition: 0.6s ease-in-out;
    top: 0;	
	}
	
	.header-nav-list{
		display: block;
		margin-top: 80px;
	}
	
	.header-nav-item{
		font-size: 24px;
		text-align: center;
	}
	
	.header-nav-link{
		padding: 24px 0;
	}
	.header-nav-link:hover{
		background-color: #4f4f4f1e;
		display: block;
	}
	
	.hamburger{
		margin-right: 4vw;
		z-index: 100;
		display: block;
		position: relative;
		cursor: pointer;
		width: 50px;
    height:50px;
		background-color: transparent;
    border: none;
    outline: none;
    appearance: none;
	}
	
	.hamburger span{
		display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
		background: #fff;
    width: 45%;
	}

	.hamburger span:nth-of-type(1){
		top:15px;
	}

	.hamburger span:nth-of-type(2){
		top:23px;
	}

	.hamburger span:nth-of-type(3){
		top:31px;
	}

	.hamburger.active span:nth-of-type(1){
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
	}

	.hamburger.active span:nth-of-type(2){
		opacity: 0;
	}

	.hamburger.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
	}

	/* ファーストビュー セクション*/
	.first-view-text{
		font-size: 9.8vw;
		line-height: 15vw;
		font-weight: bold;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.first-view-text span{
		font-size: 8vw;
		line-height: 7vw;
	}
	
	.first-view-slider{
		min-height: 600px;
	}
	
	/* 共通セクション */
	.concept-header,
	.works-header,
	.service-header,
	.contact-header{
		font-size: 3rem;
		padding-bottom: 50px;
	}

	.concept-header:after,
	.works-header::after,
	.service-header::after,
	.contact-header::after{
		width: 30vw;
		height: 4px;
		top: 20%;
		width: 100px;
	}
	
	.service-header,
	.concept-header{
		margin-left: 4vw;
	}
	
	.works-header,
	.contact-header{
		padding-right: 150px;
	}
	
	.concept,
	.works,
	.service,
	.contact{
		padding-bottom: 40px;
	}
	
	.concept-bottom-title,
	.works-bottom-title,
	.service-bottom-title,
	.contact-bottom-title{
		font-size: 10vw;
		padding-top: 30px;
		margin:0 4vw;
	}
	
	/* concept セクション */
	.concept-sub-header{
		font-size: 2rem;
		font-weight: bold;
		line-height: 1.67;
		padding-bottom: 32px;
	}
	
	.concept-block{
		display: block;
		max-width: 380px;
	}
	
	.concept-block-text{
		width: 100%;
		font-weight: bold;
		padding-bottom: 30px;
	}
	
	.concept-block-image{
		width: 100%;
		padding: 0;
	}
	
	/* works セクション */
	.works-cords{
		display: block;
		padding:0 20px 50px;
	}

	.works-cord{
		max-width: 380px;
		margin: 0 auto 30px;
	}
	
	/* service セクション */
	.service-cards{
		display: block;
		padding: 0 20px;		
	}

	.service-card{
		margin: 0 auto;
		padding-bottom: 30px;
	}
	
	.service-card-link{
		max-width: 380px;
		margin: 0 auto;
	}
	
	/*-----------------
	- contact ページ 
	------------------ */
	.contact-wrapper-bottom{
		left: 0;
	}

	/* 入力フォーム */
	.form-label{
		margin-bottom: 10px;
	}

	.checkbox-list{
		display: block;
	}
	.checkbox-item{
		padding-bottom: 8px;
	}
}