*{
	color: #000;
	margin: 0;
	scroll-behavior: smooth;
}

body,div,ul{
	margin: 0;
	padding: 0;
}

body {
  font-family: 'Noto Serif','Noto Serif JP','Noto Sans JP', sans-serif;
}

a{
	text-decoration: none;
}

p{
	line-height: 28px;
}

img{
  width: 100%;
}

.color-white{
	color: #fff;
}

.container{
	width: 100%;
  max-width: 1440px;
	margin: 0 auto;
}
.sub-container{
	width: 100%;
  max-width: 1200px;
	margin: 0 auto;
}

.header{
	margin: 0 auto;
	height: 96px;
	width: 100%;
	max-width: 1440px;
  position: fixed;
	z-index: 100;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header.active{
	background-color: #161a1ddf;
  transition: 1000ms;
}

.bk-works{
	content: "";
	width: 100%;
	max-width: 1440px;
	height: 100%;
	background-image: url(./img/works-bgi@2x.jpg);
}
.bk-contact{
	content: "";
	width: 100%;
	max-width: 1440px;
	height: 100%;
	background-image: url(./img/contact-bgi@2x.jpg);
}

.header-logo{
  font-size: 14px;
	padding: 0 20px;
	margin-left: 100px;
}
.header-logo a{
	display: block;
	padding: 5px;
}
.header-nav{
	padding: 0 20px;
}

.header-nav-list{
	display: flex;
	list-style: none;
	margin-right: 100px;

}

.header-nav-item{
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}

.header-nav-link{
	display: block;
	padding: 0 15px;
	color: #fff;
}

.header-nav-link:hover{
	color: #F7D43F;
}

.first-view{
	position: relative;
	z-index: -1;
}

.first-view-text{
	position: absolute;
	z-index: 100;
	bottom: 10%;
	left: 5%;
	font-size: 70px;
	color: #fff;
	text-align: center;
	line-height: 65px;
}
.first-view-text span{
	font-size: 40px;
	color: #fff;
}

.first-view-slider{
  list-style: none;
  position: relative;
	max-width: 1440px;
	height: 100vh;
  max-height: 752px;
  overflow: hidden
}

.first-view-slider img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: 4s linear transform .4s;
  object-fit: cover;
}

.first-view-slider .zoom{
	transform: scale(1.05);
}

.concept-header,
.works-header,
.service-header,
.contact-header{
	position: relative;
	font-size: 60px;
	padding-bottom: 80px;
}
.concept-header:after,
.works-header::after,
.service-header::after,
.contact-header::after{
	position: absolute;
	content: "";
	width: 200px;
	height: 5px;
	margin-left: 30px;
	top: 29%;
}

.concept-header:after,
.service-header::after{
	background-color: #000;
}

.works-header::after,
.contact-header::after{
	background-color: #fff;
}

.service-header,
.concept-header{
	margin-left: 100px;
}

.works-header,
.contact-header{
	padding-right: 230px;
	text-align: end;
	color: #fff;
}

.concept,
.works,
.service,
.contact{
	margin: 0 auto;
	padding: 100px 0 70px;
}

.concept-bottom-title,
.works-bottom-title,
.service-bottom-title,
.contact-bottom-title{
	font-size: 90px;
	padding-top: 70px;
	color: #818181;
	opacity: 0.2;
	line-height:normal;
}

.concept-bottom-title,
.service-bottom-title{
	text-align: end;
}

.concept-sub-header{
	font-size: 30px;
	text-align: center;
	padding-bottom: 60px;
}

.concept-block{
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 1000px;
	margin: 0 auto;
}

.concept-block-text{
	width: 100%;
	max-width: 440px;
	font-size: 16px;
}

.concept-block-image{
	width: 100%;
	max-width: 440px;
}

.works-cords{
	display: flex;
	justify-content: center;
	padding-bottom: 80px;
}
.works-cord{
	max-width: 320px;
	width: 100%;
	height: auto;
	margin: 0 20px;
	flex-wrap: wrap;
	background-color: #fff;
}

.works-cord-image{
	vertical-align: bottom;
}

.works-cord-text{
	padding: 20px 25px;
}

.service-cards{
	max-width: 1440px;
	display: flex;
	margin: 0 auto;
}
.service-card{
	width: 100%;
	max-width: 480px;
}
.service-card-link{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	aspect-ratio: 3/2;
	font-size: 40px;
	color: #fff; 
}

.service-card-link:hover{
	background-color: #282F35c9;
}

.service-card-image{
	position: absolute;
	z-index: -100;
	width: 100%;
	height: auto;
}

.contact-text{
	color: #fff;
	font-size: 20px;
	text-align: center;
	padding-bottom: 40px;
}

.btn{
	display: block;
	width: fit-content;
	text-align: center;
	font-size: 16px;
	padding: 19px 20px;
	border-radius: 50px;
	background-color: #fff;
	min-width: 235px;
	margin: 0 auto;
}

.btn:hover{
	opacity: 0.7;
}
.btn-yellow{
	background-color: #F7D43F;
}

.footer{
	background-color: #fff;
	text-align: center;
	padding: 30px 0;
}

.contact-wrapper{
	position: relative;
	content: "";
	width: 100%;
	max-width: 1440px;
	height: 453px;
	background-image: url(./img/contact-page-bgi@2x.jpg);
}

.contact-wrapper-text{
	font-size: 60px;
	color: #fff;
	display: block;
}
.contact-wrapper-inner{
	height: inherit;
	display: flex;
	place-content: center;
	place-items: center;
}
.contact-wrapper-bottom{
	position: absolute;
	font-size: 90px;
	left: 48px;
	bottom: 40px;
}

.form-wrapper{
  padding: 100px 0 80px;
}

.form-list{
	list-style: none;
	max-width: 700px;
	margin: 0 auto 80px;
	padding: 0 50px;
}
.form-item{
	margin-bottom: 25px;
}
.form-label{
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.checkbox-list{
	list-style: none;
	display: flex;
}
.checkbox-item{
	padding-right: 20px;
}

.checkbox-item label{
	cursor: pointer;
}

.checkbox{
	border: #282f35 1px solid;
	height: 10px;
	width: 10px;
	margin-right: 10px;
}

input,
textarea{
	resize: none;
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	border: 1px solid #141414;
	width: 100%;
}

.input-text{
	color: #171717;
  padding: 0px 8px;
  line-height: 30px;
  box-sizing: border-box;
}
.text-area{
	height: 171px;
  color: #171717;
  padding: 0px 8px;
  line-height: 30px;
  box-sizing: border-box;
}
/* input{
	width: 100%;
	box-sizing: border-box;
	height: 30px;
} */