/* =============================================
  base
============================================= */

html {
  font-size: 62.5%;
  width: calc(100vw - 15px); //縦スクロールバー横幅の差分
  overflow-x: hidden;
  // background-color: #999;
}

// img,a{
// 	user-drag: none;
//   -webkit-user-drag: none;
//   -moz-user-select: none;
// }

img{
  max-width: 100%;
  height: auto;
  vertical-align:top;
}

a{
  text-decoration: none;
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
  html {
    font-size: 0.625vw;
  }
}

@media screen and (min-width: 375px) and (max-width: 769px) {
  html {
    font-size: 0.625vw;
  }
}
