/* =============================================
  base
============================================= */

html {
  font-size: 62.5%;
  width: 100vw;
  overflow-x: hidden;
  background-color: #999;
}

img{
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
  html {
    font-size: 0.625vw;
  }
}
